.contactos{
    min-height: 100vh;
    background-image: linear-gradient(to top, pink, aliceblue);
}
.contact{
    animation: animation 1s ease;
    padding: 0px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    .contact-container{
        width: 500px;
        margin: 0 auto;
        background-color: transparent;
        text-align: center;
        padding: 30px;
        padding-top: 100px;
        padding-bottom: 50px;
        border-radius: 20px;
        input{
            border-radius: 10px;
            padding: 5px;
        }
        .contact-titulo{
            text-align: center;
            padding: 10px;
            align-items: center;
            h2{
                padding: 10px;
            }
        }
    }
}